.actions, .events {
    margin-top: 10% !important;
}

.badgeChannel{
    float: right;
    color: white;
    background-color: #00629b;
}

.list-group-item{
    padding: 0.45rem 1.25rem !important;
}

.channelDescription{
    margin-top: 1% !important;
}
.channelIcon{
    color: white !important;
}
