.ServiceItem{
    cursor: pointer !important;
}

.ServiceItem > a:hover {
    color: #20a8d8 !important;
    text-decoration: none !important;
}

.ServiceItem i {
    width: 56px !important;
    text-align: center !important;
}